pipeline/LogisticsAddressCountryRegionStaging.json
{
	"name": "LogisticsAddressCountryRegionStaging",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "tabla",
					"value": {
						"value": "@json('[\n\n{\n      \"schema\": \"dbo\",    \n        \"schema2\": \"dbt\",     \n        \"tabla\":\"LogisticsAddressCountryRegionStaging\",   \n        \"pk_integracion\": \"COUNTRYREGION\"\n        },\n        \n         ]')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('tabla')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"schema2": {
				"type": "string",
				"defaultValue": "dbt"
			}
		},
		"variables": {
			"tabla": {
				"type": "Array",
				"defaultValue": [
					"LogisticsAddressCountryRegionStaging"
				]
			}
		},
		"annotations": []
	}
}